body{
    background-color: #EEEEEE;
}

div{
    max-width: 1200px;
    margin: 0 auto;
}

ul{
   list-style: none;
}

ul li{
    display: inline-block;
    border: 0.4rem solid black;
    padding: 15px;
    vertical-align: middle;
    margin: 5px;
}

.big{
    width:300px;
}