body{
    width: 70vw;
    margin: 0 auto;
    background-color: #EEEEEE;
}

.gallery ul{
    justify-content: space-between;
}

body, ul, li {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30%;
}

.gallery ul li img{
    border: 5px solid black;
    padding: 20px;
    width: 75%;
    background-color: white;
    object-fit: contain;
    margin-top: 25px;
}